table.clients {
    display:inline-block;
    text-align:center;
    border-spacing: 0px;
    border-collapse: collapse;
}
table.clients thead {
    background:#21638F;
    color:#F2E7D5;
}
table.clients tr:hover {
    cursor:pointer;
    border:1px green solid;
}

table.clients tr:nth-child(even)   {
    background:#F2E7D5; 
}

table.clients tr td {
    font-size:1.4em;
    padding:.6em;
    border-left:1px #ccc ridge;
}
